<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.golos.cyber_android">

    <uses-feature
            android:name="android.hardware.sensor.accelerometer"
            android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
            android:name=".application.App"
            android:allowBackup="true"
            android:backupAgent=".core.keys_backup.agent.CommunBackupAgent"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:restoreAnyVersion="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
                android:name=".ui.screens.feedback_activity.FeedbackActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
                android:label="@string/feedback_title"
        />
        <activity
                android:name=".ui.screens.in_app_auth_activity.InAppAuthActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Login"/>
        <activity
                android:name=".ui.screens.login_activity.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Login"
                android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.screens.profile.ProfileActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.profile.edit.avatar.EditProfileAvatarActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.profile.edit.cover.EditProfileCoverActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.profile.edit.settings.ProfileSettingsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.edit_profile_bio_activity.EditProfileBioActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.screens.editor_page_activity.EditorPageActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.shared_fragments.post.view.PostActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.main_activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".ui.common.ImageViewerActivity"
                android:screenOrientation="portrait"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>

        <service android:name="io.golos.cyber_android.services.fcm.CommunFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
                android:name="io.golos.cyber_android.services.feedback_service.FeedbackService"
                android:enabled="true"
                android:exported="false">
        </service>

        <meta-data
                android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAI6F7XYqx_4KxHxqbJTsqE4dT7-ESMDAbF9gH9ag"/>
        <meta-data
                android:name="firebase_crashlytics_collection_enabled"
                android:value="${crashlyticsEnabled}"/>
    </application>

</manifest>