<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools = "http://schemas.android.com/tools"
          package="io.golos.cyber_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:name=".application.App"
        android:backupAgent="io.golos.cyber_android.core.backup.agent.CommunBackupAgent"
        android:allowBackup="true"
        android:restoreAnyVersion="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore = "AllowBackup,GoogleAppIndexingWarning">
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="e3c157b69542160c5ec78e3e4d4c71251a4c3879"/>

        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAI6F7XYqx_4KxHxqbJTsqE4dT7-ESMDAbF9gH9ag" />

        <service android:name=".fcm.CommunFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
                android:name=".ui.screens.login.LoginActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.screens.profile.ProfileActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.screens.profile.edit.avatar.EditProfileAvatarActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.screens.profile.edit.cover.EditProfileCoverActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.screens.profile.edit.settings.ProfileSettingsActivity"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.profile.edit.bio.EditProfileBioActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.editor.EditorPageActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.screens.post.PostActivity"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.screens.main.MainActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.common.ImageViewerActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>